<div class="card" [@routerTransition]>
  <div class="body">
    <form novalidate 
          #registerForm="ngForm" 
          (ngSubmit)="save()">

      <h4 *ngIf="userInfo" class="text-center">Register User</h4>
      <h4 *ngIf="!userInfo" class="text-center">Register Instagram</h4>

      <div *ngIf="userInfo">
          <div class="form-group form-float">

              <mat-form-field>
                  <input matInput
                         name="Name"
                         [(ngModel)]="model.name"
                         [placeholder]="'Name' | localize"
                         required
                         maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                  <input matInput
                         name="Surname"
                         [(ngModel)]="model.surname"
                         [placeholder]="'Surname' | localize"
                         required
                         maxlength="32" />
              </mat-form-field>
              <mat-form-field>
                  <input matInput
                         type="email"
                         name="EmailAddress"
                         [(ngModel)]="model.emailAddress"
                         [placeholder]="'EmailAddress' | localize"
                         required
                         maxlength="255"
                         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
              </mat-form-field>
              <mat-form-field>
                  <input matInput
                         name="Password"
                         [(ngModel)]="model.password"
                         [placeholder]="'Password' | localize"
                         type="password"
                         required
                         maxlength="32" />
              </mat-form-field>
           
          </div>
      </div>
      <div *ngIf="!userInfo">
          <div class="form-group form-float">

              <mat-form-field>
                  <input matInput
                         name="InstagramUserName"
                         [(ngModel)]="model.instaAccount.userName"
                         [placeholder]="'InstagramUserName' | localize"
                         required
                         maxlength="255" />
              </mat-form-field>
              <mat-form-field>
                  <input matInput
                         name="InstagramPassword"
                         [(ngModel)]="model.instaAccount.password"
                         [placeholder]="'InstagramPassword' | localize"
                         type="password"
                         required
                         maxlength="32" />
              </mat-form-field>

          </div>
      </div>
     
      <div class="form-actions text-center">
          <button mat-button *ngIf="userInfo" 
                  type="button"
                  [disabled]="saving"
                  [routerLink]="['../login']">
              {{ "Back" | localize }}
          </button>
          <button mat-button *ngIf="!userInfo"
                  type="button"
                  [disabled]="saving"
                  (click)="userInfo = !userInfo">
              {{ "Back" | localize }}
          </button>
          <button mat-button *ngIf="userInfo" class="btn bg-indigo  waves-effect waves-light btn-sm"
                  type="button"
                  [disabled]="saving"
                  (click)="userInfo = !userInfo">
              {{ "Next" | localize }}
          </button>
          <span>&nbsp;</span>
          <button mat-flat-button *ngIf="!userInfo"
                  type="submit"
                  flex="15"
                  color="primary"
                  [disabled]="!registerForm.form.valid || saving">
              {{ "Submit" | localize }}
          </button>
      </div>
    </form>
  </div>
</div>
