<form autocomplete="off" #editInstaaccountForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>Update Instagram Account</h1>
  <mat-dialog-content style="width:600px;height:300px;">
    <mat-tab-group>
      <mat-tab [label]="'Details' | localize">
        <br />
        <div class="row-fluid">
            <div class="col-md-12">

                <mat-form-field>
                    <input matInput
                           name="Title"
                           [placeholder]="'Title' | localize"
                           [(ngModel)]="instaAccount.title"
                           required
                           minlength="2"
                           maxlength="256" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput
                           name="UserName"
                           [placeholder]="'UserName' | localize"
                           [(ngModel)]="instaAccount.userName"
                           required
                           minlength="2"
                           maxlength="256" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput
                           name="Password"
                           [placeholder]="'Password' | localize"
                           [(ngModel)]="instaAccount.password"
                           required
                           minlength="2"
                           maxlength="256" />
                </mat-form-field>

                <div class="checkbox-wrapper" *ngIf="!onlyUpdatePassword">
                    <mat-checkbox name="Default" [(ngModel)]="instaAccount.default">
                        {{ "Default" | localize }}
                    </mat-checkbox>
                </div>

                <!--edit-dialog.component.html.fields1-->

                <div class="checkbox-wrapper" *ngIf="!onlyUpdatePassword">
                    <mat-checkbox name="IsActive" [(ngModel)]="instaAccount.isActive">
                        {{ "IsActive" | localize }}
                    </mat-checkbox>
                </div>

            </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!editInstaaccountForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>

