<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SideBarFileName" value="header.js"/>
    <add key="TemplateDirectory" value="MGTemplates\"/>
    <add key="Version" value="MaintenanceGenerator Ver. 3.0"/>
    <add key="ProjectName" value="OkApp"/>
    <!--<add key="SideBarFileName" value="sidebar-nav.js"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>