<form autocomplete="off" #editXXXEntitySingularXXXForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "EditXXXEntitySingularXXX" | localize }}</h1>
  <mat-dialog-content style="width:600px;height:300px;">
    <mat-tab-group>
      <mat-tab [label]="'Details' | localize">
        <br />
        <div class="row-fluid">
            <div class="col-md-12">
                <!--edit-dialog.component.html.fields1-->
            </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!editXXXEntitySingularXXXForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
